$TTL    604800
@       IN      SOA     ns1.ctf.local. admin.ctf.local. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

@       IN      NS      ns1.ctf.local.

{% for record in item.records %}
{% if record.type == "A" %}
{{ record.value.split('.')[3] }}       IN      PTR     {{ record.name }}.{{ item.name }}.
{% endif %}
{% endfor %}
