$TTL    {{ soa.ttl }}
@       IN      SOA     {{ soa.primary_ns }} {{ soa.admin_email }} (
                              {{ soa.serial }}         ; Serial
                              {{ soa.refresh }}         ; Refresh
                              {{ soa.retry }}         ; Retry
                              {{ soa.expire }}       ; Expire
                              {{ soa.minimum }} )     ; Negative Cache TTL

@       IN      NS      {{ soa.primary_ns }}

{% for record in item.records %}
{% if record.type == 'A' %}
{{ record.value.split('.')[-1] }}     IN      PTR     {{ record.name }}.{{ item.name }}.
{% endif %}
{% endfor %}