{% for zone in dns_zones %}
zone "{{ zone.name }}" {
    type master;
    file "/etc/bind/zones/{{ zone.name }}";
    allow-transfer { any; };
};

zone "{{ zone.reverse }}.in-addr.arpa" {
    type master;
    file "/etc/bind/zones/{{ zone.reverse }}.in-addr.arpa.zone";
};
{% endfor %}
