acl trusted { localhost; 192.168.0.0/16; }; 
options {
    directory "/etc/bind/zones";        # Ruta para archivos de zona
    #listen-on port 53 { 127.0.0.1;  192.168.0.10 };
    recursion yes;                      # Permite resolver nombres recursivamente
    allow-recursion { any; };           

    allow-query { any; };               # Permitir consultas desde cualquier IP
    allow-query-cache { any; };               # Permitir consultas desde cualquier IP
    listen-on { any; };                 # Escuchar en todas las interfaces
    listen-on-v6 { none; };

};

logging{
  channel simple_log {
    file "/var/log/named/bind.log" versions 3 size 5m;
    severity warning;
    print-time yes;
    print-severity yes;
    print-category yes;
  };
  category default{
    simple_log;
  };
};

include "/etc/bind/named.conf.local";
#include "/etc/bind/named.conf.options";