{% for zone in dns_zones %}
zone "{{ zone.name }}" {
    type master;
    file "/etc/bind/zones/db.{{ zone.name }}";
    allow-transfer { any; };
};

zone "{{ zone.reverse }}.168.192.in-addr.arpa" {
    type master;
    file "/etc/bind/zones/db.192.168.{{ zone.reverse }}.in-addr.arpa.zone";
};
{% endfor %}
