# ====== INCLUDES ======
include     /etc/ldap/schema/core.schema
include     /etc/ldap/schema/cosine.schema
include     /etc/ldap/schema/inetorgperson.schema

# ====== GLOBAL ======
pidfile     /var/run/slapd/slapd.pid
argsfile    /var/run/slapd/slapd.args
loglevel    stats

# ====== BASE DN & ADMIN ======
database    mdb
maxsize     1073741824
suffix      "dc=ctf,dc=local"
rootdn      "cn=admin,dc=ctf,dc=local"
rootpw      {SSHA}OjGuNPhKuj2PYqdOkYIrWYxZNL9N97D9    # Contraseña: admin

directory   /var/lib/ldap

# ====== ACCESO ======
access to attrs=userPassword
    by self write
    by anonymous auth
    by * none

access to *
    by self read
    by users read
    by anonymous none

# ====== ÍNDICES ======
index   objectClass     eq
index   uid             pres,eq
index   cn              pres,sub,eq
index   sn              pres,sub,eq
